[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "kdml"]
	path = kdml
	url = https://github.com/cran/kdml
[submodule "nonsmooth"]
	path = nonsmooth
	url = https://github.com/jrjthompson/r-package-nonsmooth
